[Unit]
Description=Jailbox
Before=network.target containerd.service firewalld.service

[Service]
Type=forking
ExecStart=jailbox-start
ExecStop=jailbox-stop
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
